<% provide(:title,"New Card") %>
<h1>New Card</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@card) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :cost, "Mana Cost" %>
      <%= f.text_field :cost %>

      <%= f.label :typeline, "Type" %>
      <%= f.text_field :typeline %>

      <%= f.label :text, "Text" %>
      <%= f.text_area :text %>

      <%= f.label :power_toughness, "Power/Toughness" %>
      <%= f.text_field :power_toughness %>

      <%= f.submit "Create", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>